#_home {
    background-image: url("rb6-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: black;
    margin-top: 0%;
    padding-top: 5%;
}

#_logout {
    background: black;
    
}