#_home {
    background-image: url("rb6-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: black;
    margin-top: 0%;
    padding-top: 5%;
}

#_logout {
    background: black;
    float: right;
}

#_username {
    text-align: right;
}

#_header {
    align-content: center;
    text-align: center;
}
