body {
    background-image: url("./../SignIn/signup-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: black;
    margin-bottom: 15px;
    color: gold;
    font-weight: bolder;
}

#_signin {
    align-content: center;
    text-align: center;
    columns: 2;
}

#_submit {
    background: black;
    float: right;
}